# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives**
* list libraries for Data Science
* Practice arithmetic expressions in Python
* List popular languages for Data Science

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. SQL

4. Julia

5. MATLAB

6. SAS

7. Scala

some of the commonly used libraries used by Data Scientists include:

1. Pandas

2. NumPy

3. SciPy

4. Matplotlib

5. Seaborn

6. Plotly

7. Scikit-learn



|Data Science Tools| 
|--------|
|Jupyter|
|Anaconda|
|Tableau|
|Apache Spark|
|TensorFlow|
|PyTorch|

### Below are a few examples of evaluating arithmetic expressions in Python

In Python, we can use these operations with the following symbols:

Addition: +

Subtraction: -

Multiplication: *

Division: /

In [9]:
(3*4)+5             #This a simple arithmetic expression to mutiply then add integers

17

In [10]:
minutes = 200
hours = minutes / 60
print(hours)   #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author

ALI JAMI